<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마주스토리</title>
<link href="/css/top.css" rel="stylesheet" type="text/css" />
<style type="text/css"></style>
</head>

<header>회원 프로그램</header>

<nav>&emsp;&emsp;

<a href="/board/form">글 등록</a> &emsp;
<a href="/board/getBoardList">글 게시판</a> &emsp;

<a href="/exam/getExamList">성적처리</a> &emsp;

<a href="/PortOneT/start">결제하기</a> &emsp;
<a href="/login/loginForm">로그인</a>&emsp;

<a href="/guestbook/list">방명록</a>&emsp;
<a href="/guestbook/insert">방명록 등록</a>&emsp;

<a href="/index">홈으로</a> &emsp;
<br>&emsp;&emsp;


</nav>
